.opword{
     font-size: 40px; 
     font-family: 微软雅黑;
     background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(125, 125, 125, 1)), to(rgba(255, 255, 255, 1)));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     text-align: center;
     margin-top: 25%;
}
#openWords{
	background-image: url("image/USEBG/white.png");
	background-repeat: no-repeat;
	text-align: center;
	background-size: 100% 100%;
	position: fixed;
	width:100%;
	height:100%;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	overflow:hidden;
}
#opening{
	text-align: center;
	position: absolute;
	display:block;
	z-index: 999;
}